<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8" />
        <title>David Bowie</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div>
        <img src="images/Bowie70s.jpg" />
        <img src="images/BowieAsian.jpg" />
        <img src="images/BowieBlackWhite.jpg" />
        <img src="images/BowieBolt.jpg" />
        <img src="images/BowieBordeaux.jpg" />
        <img src="images/BowieBoxingGloves.jpg" />
        <img src="images/BowieCurtain.jpg" />
        <img src="images/BowieDeepGreen.jpg" />
        <img src="images/BowieLongPants.jpg" />
        <img src="images/BowieOrange.jpg" />
        <img src="images/BowiePink.jpg" />
        <img src="images/BowiePresley.jpg" />
        <img src="images/BowieRed.jpg" />
        <img src="images/BowieRedBlack.jpg" />
        <img src="images/BowieRobe.jpg" />
        <img src="images/BowieSilver.jpg" />
        <img src="images/BowieTeal.jpg" />
        <img src="images/BowieTie.jpg" />
        <img src="images/BowieUSA.jpg" />
        <img src="images/BowieVelvet.jpg" />
        <img src="images/BowieWizardofOz.jpg" />
        </div>

        <a href="/home">Sweet Thing, go home</a>
    </body>
    </html>